h1 {
  color: darkturquoise;
}

h1 {
  padding: 40px 0 0 0;
  text-align: center;
}

.about {
  position: fixed;
  top: 10px;
  left: 60px;
}

.about h1 {
  text-align: left;
}

h1 a {
  text-decoration: none;
}

.topics {
  list-style: none;
}

.topic {
  margin: 5px 10px;
  display: inline-block;
}

p img {
  width: 80%;
}

.image-map, #web-nav-img {
  width: 100%;
}

body {
  padding-top: 40px;
}

area {
  border: none;
}

#web-nav-img {
  padding-bottom: 40px;
}

