extends layout

block content
  include ./partials/header
  h1 About
  p Welcome to the Animated White Board of the Web! 
  p One of the hardest things in picking up a new skill, web development not excluded, is learning the language; particularly, learning how to talk about the things you don't know. Being told to RTFM or just "Google" for it is no good when you don't have the words to describe what you are trying to do or the problem you have.
  p Enter: the Animated White Board, a meta layer in the stack of web standards and development documentation. A discovery tool for web topics explored from the perspective of a beginner, in a conversational tone. To top it off, it's full of drawings and animations to provide you with visual metaphors for when you finally decide to dive deep into more technical and specific documentation. 
  p It's important to realize that the world of web standards and development is infinitely dense. To that end, sometimes a bit of "salutory neglect" is important on a first pass, to ensure that you get the general idea of a concept first. This resource *definitely* believes this. There's unlimited subtlety to nearly all of the concepts presented, and that subtlety is, for the most part, completely ignored! That's ok. Someone, somewhere else, has addressed those details; specifying them is not the goal of this project.
  p This resource was built by engineers at Bocoup. If you have any questions, comments, or issues, please file them on Github, [here](https://github.com/bocoup/open-web-fundamentals/issues).
