extends ./layout

block content
  div.image-map!= image_map
  div.content
    p Open Web Fundamentals is project aimed to serve as an introductory resource for anyone interested in familiarizing themselves with foundational concepts regarding the open web in preparation for developing, designing, or consuming content or applications.
    p Much like the web itself- there is no one good starting point. All of the concepts are interrelated, and eventually feedback to each other. We have organized a few clusters to help you get started if you feel a bit lost.
  div.topics
    h5 Topics
    ul.topics.row.u-cf
      for topic in topics
        li.topic.pull-left
          a(href="/topics/"+topic).button!= topic
