extends ./layout

block content
  p Open Web Fundamentals is project aimed to serve as an introductory resource for anyone interested in familiarizing themselves with foundational concepts regarding the open web in preparation for developing, designing, or consuming content or applications.
  p Much like the web itself- there is no one good starting point. All of the concepts are interrelated, and eventually feedback to each other. We have organized a few clusters to help you get started if you feel a bit lost.
  h5 Topics
  ul.topics.row.u-cf
    for topic in topics
      li.topic.pull-left
        a(href="/topics/"+topic).button!= topic
  h5 Clusters
  p Clusters are not necessarily linear, but use the color key below to help guide your reading.
  img(src="/img/cluster_key.jpg")
  h6 How the Web Works
  p This cluster is designed for the beginner to the web, or for an established programmer coming from a non-webstack, who want to learn the more abstract mechanics of how the web works, with a particularly deep dive in HTTP.
  img(src="/img/cluster_web_works_color.jpg")
  h6 The Web Stack
  p This cluster is designed for the beginner to the web, or for an established programmer coming from a non-webstack, who want to jump into the technologies that make the web work, with a focus on pratical HTML, CSS, and JavaScript.
  img(src="/img/cluster_web_stack_color.jpg")
