doctype html
html(lang="en")
  head
    title the Animated White-Board of the Web
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet")
    link(href="/css/styles.min.css", rel="stylesheet")
  body
    include ./partials/github
    .container
      block content
  script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js") 
  script(src="/js/image-map-resizer/js/imageMapResizer.js")
  script.
    $('map').imageMapResize();
    $('#cluster_webworks').click(function(){ 
      $('#web-nav-img').attr("src","/img/cluster_webworks_nav.jpg");
     });
    $('#cluster_program').click(function(){
      $('#web-nav-img').attr("src", "/img/cluster_programweb_nav.jpg");
    });
    $('#cluster_webapps').click(function(){
      $('#web-nav-img').attr("src", "/img/cluster_webapps_nav.jpg");
    });
