doctype html
html(lang="en")
  head
    title Open Web Fundamentals
    link(href="//fonts.googleapis.com/css?family=Raleway:400,300,600", rel="stylesheet")
    link(href="/css/styles.min.css", rel="stylesheet")
  body
    include ./partials/github
    .container
      include ./partials/header
      block content
