<img id="web-nav-img" src="/img/web_nav.jpg" width="100%" usemap="#web-nav-map"/>
<map name="web-nav-map" id="web-nav-map">
  <area href="/topics/REST" shape="rect" coords="566,74,674,182">
  <area href="/topics/apis" shape="rect" coords="752,168,860,276">
  <area href="/topics/http" shape="rect" coords="948,136,1067,269">
  <area href="/topics/client-server" shape="rect" coords="936,322,1074,461">
  <area href="/topics/http-requests" shape="rect" coords="1137,200,1255,328">
  <area href="/topics/http-status-codes" shape="rect" coords="1147,34,1266,154">
  <area href="/topics/web-applications" shape="rect" coords="647,352,873,481">
  <area href="/topics/mvc" shape="rect" coords="799,506,920,622">
  <area href="/topics/technology-stacks" shape="rect" coords="639,533,760,656">
  <area href="/topics/web-standards" shape="rect" coords="41,456,212,621">
  <area href="/topics/browser-compatibility" shape="rect" coords="37,727,263,844">
  <area href="/topics/jquery" shape="rect" coords="316,761,453,886">
  <area href="/topics/the-DOM" shape="rect" coords="476,737,613,862">
  <area href="/topics/css" shape="rect" coords="404,390,523,512">
  <area href="/topics/javascript" shape="rect" coords="296,539,445,661">
  <area href="/topics/html" shape="rect" coords="454,530,573,652">
  <area id="cluster_webworks" href="#" shape="rect" coords="1100,728,1263,884">
  <area id="cluster_webapps" href="#" shape="rect" coords="938,733,1085,889">
  <area id="cluster_program" href="#" shape="rect" coords="770,728,926,889">
  <area id="clusters" href="#" shape="rect" coords="942,655,1098,709">
  <area shape="rect" coords="1277,892,1279,894" title="animated white board of the web" href="/img/web_nav.jpg">
</map>
